html  {    
    height: 100%;
    width: 100%;
    padding: 15px;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor{
    display: flex;
    flex-direction: column;       
    width: 10%;
    padding: 10px;
    margin: 15px;
    border-style: solid;
    border-color: black;
    background-color: lightcyan;
}

.contenedor h3{
    display: block;
    font-size: 60;
    text-transform: uppercase;
}
.contenedor label{
    font-size: 25;
    font-weight:bold;
}